body {
    background-image: url('../星空黑白.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.character-page {
    padding-top: 100px;
}

.character-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px);
}

.character-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.character-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.character-info {
    color: #fff;
    width: 100%;
    text-align: center;
}


.character-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.character-info p {
    font-size: 18px;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .character-content {
        flex-direction: column;
        align-items: center;
    }

    .character-image, .character-info {
        max-width: 100%;
    }

    .character-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

